---
layout: default
---
<article class="post">

	{% if page.external-url %}
		<h1>
			<a href="{{ page.external-url }}">{{ page.title }}</a> 
			<a class="anchor" href="{{ page.url }}"><i class="icon-anchor"></i></a>
		</h1>
	{% else %}
		<h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
	{% endif %}

	{% include widgets/postTagList.html %}

	<div class="post-content">{{ content }}</div>

	<p class="meta">Posted on <span class="postdate">{{ page.date | date: "%b %d, %Y" }}</span></p>

	<div class="postnavigation">
		{% if page.previous %}
		<a href="{{ page.previous.url }}" class="prev left">&larr; Older</a>
		{% else %}
		<span class="nope left">&larr; Older</span>
		{% endif %}
		<a href="{{ site.url }}/archives/" class="pages">Archive</a>
		{% if page.next %}
		<a href="{{ page.next.url }}" class="next right">Newer &rarr;</a>
		{% else %}
		<span class="nope right">Newer &rarr;</span>
		{% endif %}
	</div>

</article>
