---
layout: default
---
<article class="post">

	{% if page.external-url %}
		<h1>
			<a href="{{ page.external-url }}">{{ page.title }}</a> 
			<a class="anchor" href="{{ page.url }}"><i class="icon-anchor"></i></a>
		</h1>
	{% else %}
		<h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
	{% endif %}

	{% include widgets/postTagList.html %}

	<div class="post-content">{{ content }}</div>

	<p class="meta">Posted on <span class="postdate">{{ page.date | date: "%b %d, %Y" }}</span></p>

	<table class="pre-next-post" width=100%>
		<tr>
			<td style="text-align:left" width="33%">
				{% if page.previous %}
				<a href="{{ page.previous.url }}">&larr; Previous</a>
				{% endif %}
			</td>

			<td style="text-align:center" width="33%">
				<a href="{{ site.url }}/archives/">Archive</a>
			</td>

			<td style="text-align:right" width="33%">
				{% if page.next %}
				<a href="{{ page.next.url }}">Next &rarr;</a>
				{% endif %}
			</td>
		</tr>
	</table>


</article>
